In [0]:
import pandas as pd

In [3]:
from google.colab import files
uploaded = files.upload()

Saving UNdata_Export_20200530_054229996.csv to UNdata_Export_20200530_054229996.csv

In [0]:
greenhouse_data = pd.read_csv('UNdata_Export_20200530_054229996.csv')

In [5]:
greenhouse_data.describe()

              Year         Value
count  1204.000000  1.204000e+03
mean   2003.500000  5.280785e+05
std       8.081104  1.283749e+06
min    1990.000000  8.412655e+01
25%    1996.750000  3.093901e+04
50%    2003.500000  8.069707e+04
75%    2010.250000  4.392478e+05
max    2017.000000  7.369968e+06

In [6]:
greenhouse_data.head(10)

  Country or Area  Year          Value
0       Australia  2017  554126.561371
1       Australia  2016  546771.759767
2       Australia  2015  535173.674335
3       Australia  2014  524957.101167
4       Australia  2013  530433.518839
5       Australia  2012  540615.864772
6       Australia  2011  538280.611349
7       Australia  2010  537275.249361
8       Australia  2009  540913.370344
9       Australia  2008  537031.991695

In [7]:
greenhouse_data.tail(10)

               Country or Area  Year         Value
1194  United States of America  1999  7.071461e+06
1195  United States of America  1998  7.032526e+06
1196  United States of America  1997  6.968462e+06
1197  United States of America  1996  6.907699e+06
1198  United States of America  1995  6.710067e+06
1199  United States of America  1994  6.624836e+06
1200  United States of America  1993  6.532070e+06
1201  United States of America  1992  6.424934e+06
1202  United States of America  1991  6.315615e+06
1203  United States of America  1990  6.371001e+06

In [8]:
greenhouse_data.isnull().sum()

Country or Area    0
Year               0
Value              0
dtype: int64

In [0]:
greenhouse_data.to_csv('file2.csv')

In [10]:
pwd('file2.csv')

'/content'

In [0]:
import matplotlib.pyplot as plt

In [12]:
greenhouse_data['Country or Area'].value_counts()

Belgium                     28
Bulgaria                    28
Switzerland                 28
Slovakia                    28
Ireland                     28
Ukraine                     28
Estonia                     28
European Union              28
Spain                       28
Australia                   28
Finland                     28
Sweden                      28
Canada                      28
Hungary                     28
Cyprus                      28
Liechtenstein               28
France                      28
Monaco                      28
Austria                     28
Belarus                     28
Czechia                     28
Croatia                     28
Malta                       28
Italy                       28
Portugal                    28
Germany                     28
New Zealand                 28
Norway                      28
Poland                      28
Latvia                      28
United States of America    28
Russian Federation          28
United Kingdom              28
Lithuania                   28
Luxembourg                  28
Romania                     28
Japan                       28
Greece                      28
Denmark                     28
Turkey                      28
Netherlands                 28
Slovenia                    28
Iceland                     28
Name: Country or Area, dtype: int64

In [13]:
greenhouse_data['Year'].unique()

array([2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007,
       2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997, 1996,
       1995, 1994, 1993, 1992, 1991, 1990])

In [0]:
greenhousedata_copy = greenhouse_data.copy()

In [0]:
greenhousedata_copy.set_index('Year', inplace=True)

In [16]:
greenhousedata_copy.head()

     Country or Area          Value
Year
2017       Australia  554126.561371
2016       Australia  546771.759767
2015       Australia  535173.674335
2014       Australia  524957.101167
2013       Australia  530433.518839

In [17]:
greenhousedata_copy.describe()

              Value
count  1.204000e+03
mean   5.280785e+05
std    1.283749e+06
min    8.412655e+01
25%    3.093901e+04
50%    8.069707e+04
75%    4.392478e+05
max    7.369968e+06

In [18]:
greenhousedata_copy.max()

Country or Area    United States of America
Value                           7.36997e+06
dtype: object

In [19]:
greenhousedata_copy.min()

Country or Area    Australia
Value                84.1265
dtype: object

In [20]:
greenhousedata_copy['Value'].mean()

528078.4937427066

In [21]:
greenhousedata_copy['Value'].std()

1283748.523685663

In [22]:
greenhousedata_copy.loc[2017]

               Country or Area         Value
Year
2017                 Australia  5.541266e+05
2017                   Austria  8.226147e+04
2017                   Belarus  9.395964e+04
2017                   Belgium  1.145399e+05
2017                  Bulgaria  6.136716e+04
2017                    Canada  7.157492e+05
2017                   Croatia  2.501975e+04
2017                    Cyprus  8.945265e+03
2017                   Czechia  1.286750e+05
2017                   Denmark  4.922564e+04
2017                   Estonia  2.087988e+04
2017            European Union  4.323163e+06
2017                   Finland  5.533413e+04
2017                    France  4.710282e+05
2017                   Germany  9.066115e+05
2017                    Greece  9.542078e+04
2017                   Hungary  6.378758e+04
2017                   Iceland  4.754644e+03
2017                   Ireland  6.074373e+04
2017                     Italy  4.277078e+05
2017                     Japan  1.289631e+06
2017                    Latvia  1.130620e+04
2017             Liechtenstein  1.936235e+02
2017                 Lithuania  2.070594e+04
2017                Luxembourg  1.023608e+04
2017                     Malta  2.151589e+03
2017                    Monaco  8.685134e+01
2017               Netherlands  1.932599e+05
2017               New Zealand  8.085347e+04
2017                    Norway  5.271254e+04
2017                    Poland  4.137814e+05
2017                  Portugal  7.054630e+04
2017                   Romania  1.137959e+05
2017        Russian Federation  2.155471e+06
2017                  Slovakia  4.343750e+04
2017                  Slovenia  1.745350e+04
2017                     Spain  3.402309e+05
2017                    Sweden  5.266027e+04
2017               Switzerland  4.715896e+04
2017                    Turkey  5.262530e+05
2017                   Ukraine  3.206258e+05
2017            United Kingdom  4.743461e+05
2017  United States of America  6.456718e+06